# Python cache files
__pycache__/
*.py[cod]

# Streamlit secrets
.streamlit/secrets.toml

# Virtual environment
venv/
env/
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp

# Environment variables
.env

# Saved conversations
conversations/